@import "./global.scss";
.connect__main__container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background: url(../assets/connect_bg.png) no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.connect__main__container__content {
  padding: 2em;
  background: $black100;
  color: $white;
  border-radius: 14px;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  margin: 8em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect__main__container__content__nav__wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}
.connect__main__container__content__header__entry {
  background: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: $WhiteGray;
  cursor: pointer;
  margin-right: 1.5em;
}
.connect__main__container__content__header__entry__selected {
  background: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  margin-right: 1.5em;
  font-weight: 600;
  position: relative;
}
.connect__main__container__content__header__entry__selected::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: $white;
  border-radius: 4px;
}
.connect__main__container__content__divider {
  width: 100%;
  height: 1px;
  background: #464646;
  margin: 1.5em auto;
}
.connect__main__container__content__header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: $white;
  margin-top: 3em;
  width: 100%;
}
.connect__main__container__content__header__heading {
  font-size: 26px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.connect__main__container__content__header__para {
  font-size: 16px;
  color: $WhiteGray;
  margin-top: 0.2em;
}
.connect__main__container__content__input__wrapper {
  width: 100%;
  padding: 1.5em;
  border-radius: 14px;
  margin-top: 2em;
  background: $black200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect__main__container__content__input__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connect__main__container__content__input__top__title {
  font-size: 16px;
  color: $WhiteGray;
}
.connect__main__container__content__input__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
.connect__main__container__content__input {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
}
.connect__main__container__content__input::placeholder {
  color: $white;
}
.connect__main__container__content__input__bottom__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect__main__container__content__input__bottom__right__btn {
  padding: 0.5em 2em;
  border: 1px solid $white;
  font-size: 10px;
  border-radius: 6px;
  margin-right: 2em;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.connect__main__container__content__input__bottom__right__dropdown {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__entry {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $white;
  background: transparent;
  border: none;
  outline: none;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__entry
  svg {
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__entry__on__hover {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $white;
  padding: 0.5em;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__entry__on__hover:hover {
  background: $WhiteGray;
  transition: 300ms ease-in-out;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__entry__on__hover
  svg {
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
}
.connect__main__container__content__input__bottom__right__dropdown__wrapper__on__hover {
  position: absolute;
  top: 30px;
  right: -32px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: $black200;
  width: 150px;
  border-radius: 14px;
  align-items: center;
  box-shadow: 0px 10px 30px rgb(255, 255, 255, 0.05);
  display: none;
  z-index: 999;
}
.connect__main__container__content__input__bottom__right__dropdown:checked
  ~ .connect__main__container__content__input__bottom__right__dropdown__wrapper__on__hover {
  display: flex;
}
.connect__main__container__content__centered__svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.connect__main__container__content__price__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;
  padding: 0em 0.2em;
  animation: animateLine 1.5s;
}
@keyframes animateLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.connect__main__container__content__price__wrapper__card__para {
  font-size: 14px;
  color: $WhiteGray;
  text-align: center;
}
.connect__main__container__content__price__wrapper__card__heading {
  font-size: 16px;
  color: $white;
  font-weight: 600;
}
.connect__main__container__content__price__wrapper__left {
  font-size: 16px;
  color: $WhiteGray;
}
.connect__main__container__content__price__wrapper__left span {
  color: $white;
  font-weight: 600;
}
.connect__main__container__content__price__wrapper__right svg {
  width: 20px;
  height: 20px;
}
.connect__main__container__content__btn {
  background: $WhiteGray;
  padding: 1em 3em;
  color: $white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1em;
}
.connect__main__container__content__btn:hover {
  background: $black200;
  transition: 300ms ease-in-out;
}
.connect__main__container__content__bottom {
  width: 100%;
}
.connect__main__container__content__bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
}
.connect__main__container__content__bottom__content__left {
  font-size: 14px;
  color: $WhiteGray;
}
.connect__main__container__content__bottom__content__right {
  font-size: 14px;
  color: $white;
  font-weight: 600;
}
.connect__main__container__content__header__svg svg {
  animation: settingAnimate 1s;
}
.connect__main__container__content__centered__svg svg {
  animation: settingAnimate 1s;
}
@keyframes settingAnimate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .connect__main__container__content__input__bottom {
    width: 100%;
    flex-direction: column;
  }
  .connect__main__container__content__input {
    width: 100%;
    margin-bottom: 1em;
  }
  .connect__main__container__content__price__wrapper {
    flex-direction: column;
  }
  .connect__main__container__content__price__wrapper__card,
  .connect__main__container__content__price__wrapper__right {
    margin-top: 1em;
  }
}
