@import "../styles/global.scss";
.home__jumbotron {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.home__jumbotron__left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5em;
}
.home__jumbotron__left svg {
  width: 90%;
}
.home__jumbotron__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__jumbotron__right__heading {
  font-size: 38px;
  color: $white;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.home__jumbotron__right__sub__heading {
  font-size: 18px;
  color: $WhiteGray;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.home__jumbotron__right__option {
  width: fit-content;
  border: none;
  background-color: transparent;
  color: $white;
  padding: 0em;
  margin-top: 1em;
  cursor: pointer;
}
.home__jumbotron__right__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__jumbotron__right__buttons__button {
  flex: 1;
  border: 1px solid transparent;
  text-decoration: none;
  height: 50px;
  border-radius: 5px;
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.home__jumbotron__right__buttons__button__primary {
  background-color: $white;
  color: black;
  margin-right: 1.5em;
}
.home__jumbotron__right__buttons__button__primary:hover {
  transition: 300ms ease-in-out;
  background-color: #ebebeb;
}
.home__jumbotron__right__buttons__button__secondary {
  background-color: $black100;
  color: $white;
}
.home__jumbotron__right__buttons__button__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: $black200;
}
.home__clients {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home__clients__entry {
  width: 30%;
  margin-bottom: 3em;
}
.home__clients__entry__img {
  width: 250px;
}
.feature__container {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background-image: url(../assets/features_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__container__img {
  width: 100%;
  height: 100%;
}
.feature__container__heading {
  width: 100%;
  padding: 2em;
  text-align: center;
  font-size: 24px;
  color: $white;
  font-weight: 600;
}
.feature__container__content {
  width: 100%;
  max-width: 1440px;
  padding: 2em;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.feature__container__content__card {
  width: 30%;
  padding: 2em;
  background: $black100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  cursor: pointer;
  margin-bottom: 4em;
}
.feature__container__content__card:hover * {
  color: $black !important;
  transition: 300ms ease-in-out;
}
.feature__container__content__card:hover {
  background: $white;
}
.feature__container__content__card:hover .btn__primary {
  border-color: $black;
}
.feature__container__content__card:hover
  .feature__container__content__card__img__hover {
  display: flex;
}
.feature__container__content__card:hover
  .feature__container__content__card__img {
  display: none;
}
.feature__container__content__card__img {
  width: 80px;
}
.feature__container__content__card__img__hover {
  width: 80px;
  display: none;
}
.feature__container__content__card__heading {
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.7em 0em;
}
.feature__container__content__card__sub__heading {
  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  width: 90%;
  text-align: center;
}
.feature__container__content__card__para {
  color: $WhiteGray;
  font-size: 16px;
  margin: 0.6em 0em;
}

.btn__primary {
  padding: 0.7em 3em;
  background: transparent;
  border: 1px solid $white;
  border-radius: 6px;
  text-transform: uppercase;
  color: $white;
  margin-top: 1em;
  cursor: pointer;
}
.btn__primary:hover {
  background: $white;
  color: $black;
  transition: 300ms ease-in-out;
}
.ecosystem__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}
.ecosystem__container__heading {
  font-size: 30px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.ecosystem__container__para {
  font-size: 16px;
  color: $white;
  width: 80%;
  margin: 0px auto;
  color: $white;
  margin: 0.7em 0em;
  text-align: center;
}
.ecosystem__container__content__card__content__para {
  font-size: 16px;
  color: $white;
  margin: 0px auto;
  color: $white;
}
.ecosystem__container__content__card {
  width: 100%;
  height: fit-content;
  padding: 2em 8em;
  background: $black100;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  border: 1px solid $black100;
  cursor: pointer;
}
.ecosystem__container__content__card:hover,
.ecosystem__container__content__card__reverse:hover {
  border: 1px solid $white;
  transition: 400ms ease-in-out;
}
.ecosystem__container__content__card__reverse {
  width: 100%;
  height: fit-content;
  padding: 2em 8em;
  background: $black100;
  border-radius: 14px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid $black100;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.ecosystem__container__content__card__content__img {
  width: 300px;
}
.ecosystem__container__content__card__content {
  width: 50%;
}
.ecosystem__container__content__card__content__heading {
  font-size: 24px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.4em 0em;
}
.tokenomics__container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0px auto;
}
.tokenomics__container__img {
  width: 600px;
}
.tokenomics__container__heading {
  font-size: 30px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.tokenomics__container__card {
  width: 100%;
  height: fit-content;
  padding: 2em;
  background: $black100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  border-radius: 10px;
  cursor: pointer;
}
.tokenomics__container__card:hover {
  background: $black200;
  transition: 300ms ease-in-out;
}
.tokenomics__container__card__center {
  width: 65%;
}
.tokenomics__container__card__left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1.5em;
  background: transparent;
  border: 1px solid $white;
  border-radius: 8px;
  font-size: 14px;
  color: $white;
  width: 200px;
  min-width: 200px;
}
.tokenomics__container__card__left__btn__img {
  width: 36px;
  margin-right: 1em;
}
.tokenomics__container__card__right {
  color: $white;
  font-weight: 600;
  font-size: 18px;
}
.why__us__container {
  width: 100%;
  height: fit-content;
  min-height: 70vh;
  max-width: 1440px;
  padding: 2em;
  margin: 0px auto;
}
.why__us__container__heading {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
}
.why__us__container__content__card {
  padding: 2em;
  background: $black100;
  width: 300px;
  height: fit-content;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 14px;
  margin: 4em 0em;
}
.why__us__container__content__card__img {
  width: 120px;
}
.why__us__container__content__card__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.7em 0em;
}
.why__us__container__content__card__para {
  font-size: 16px;
  color: $white;
}
.swiper-pagination-bullet {
  color: $white !important;
  background: $white !important;
}
.keep__trading__container {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background: $black100;
}
.keep__trading__container__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keep__trading__container__content__img {
  width: 550px;
}
.keep__trading__container__content__right {
  width: 50%;
}
.keep__trading__container__content__right__heading {
  font-size: 30px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  width: 90%;
}
.keep__trading__container__content__right__para {
  font-size: 16px;
  color: $WhiteGray;
  margin-top: 1.5em;
}
.keep__trading__container__content__right__btn__wrapper {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.keep__trading__container__content__right__btn__img {
  width: 150px;
}
.keep__trading__container__content__right__btn {
  margin-right: 1em;
}
.refer__container__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.refer__container__content__heading {
  text-align: center;
  padding: 1.4em;
  width: 100%;
  margin: 0px auto;
  font-size: 30px;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
}
.road__map__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  min-height: 70vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.road__map__container__heading {
  font-size: 26px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3em;
}
.road__map__container__content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
.road__map__container__content__card {
  color: $white;
  width: 30%;
  position: relative;
}
.road__map__container__content__card::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: $black200;
}
.road__map__container__content__card__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  margin: 0.6em 0em;
}
.road__map__container__content__card__para {
  font-size: 16px;
  color: $white;
  margin-top: 1em;
}
@media (max-width: 1200px) {
  .home__jumbotron__right__heading {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .keep__trading__container__content {
    flex-direction: column;
  }
  .keep__trading__container__content__right {
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
  .keep__trading__container__content__right__heading {
    width: 100%;
  }
  .keep__trading__container__content__right__btn__wrapper {
    justify-content: center;
  }
  .tokenomics__container__card {
    flex-direction: column;
  }

  .tokenomics__container__card__center {
    width: 100%;
    margin: 1.5em 0em;
  }
  .tokenomics__container__card__left,
  .tokenomics__container__card__left__btn {
    width: 100%;
  }
  .ecosystem__container__content__card,
  .ecosystem__container__content__card__reverse {
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }
  .ecosystem__container__content__card__content {
    width: 100%;
    margin-top: 2em;
  }
  .feature__container__content__card {
    width: 47%;
  }
  .home__clients__entry {
    width: 50%;
  }
  .home__jumbotron {
    flex-direction: column;
    padding: 4em 2em;
  }
  .home__jumbotron__left {
    margin-right: 0em;
  }
  .home__jumbotron__left svg {
    width: 100%;
    height: 300px;
  }
  .home__jumbotron__right__heading {
    text-align: center;
    font-size: 28px;
  }
  .home__jumbotron__right__sub__heading {
    text-align: center;
    align-items: center;
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .tokenomics__container__img {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .keep__trading__container__content__img {
    width: 300px;
  }
  .tokenomics__container__img {
    width: 300px;
  }
  .ecosystem__container__content__card__content__img {
    width: 200px;
  }
  .feature__container__content__card {
    width: 100%;
  }
  .feature__container__content__card__sub__heading {
    width: 100%;
  }
  .feature__container__content__card__para {
    text-align: center;
  }
  .home__clients__entry {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home__jumbotron__right__buttons {
    flex-direction: column;
  }
  .home__jumbotron__right__buttons__button {
    width: 100%;
    min-height: 50px;
    margin: 0em;
    margin-bottom: 1em;
  }
}
