@import "./global.scss";
.trading__main__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  min-height: 100vh;
  padding: 2em;
  margin: 8em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trading__main__container__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.trading__main__container__content__btc__usd__card {
  width: 70%;
  padding: 2em;
  background: $black100;
  color: $white;
  border-radius: 14px;
  height: fit-content;
  min-height: 600px;
  overflow: auto;
}
.trading__main__container__content__btc__usd__card__entry__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5em 0em;
}
.trading__main__container__content__btc__usd__card__entry__wrapper {
  width: 16%;
}
.trading__main__container__content__btc__usd__card__heading {
  font-size: 24px;
  font-weight: 600;
  color: $white;
}
.trading__main__container__content__btc__usd__card__entry__wrapper {
  font-size: 12px;
  text-align: center;
  color: $white;
}
.trading__main__container__content__graph {
  width: 100%;
  margin-top: 1em;
}
.trading__main__container__content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
}
.trading__main__container__content__right__card {
  color: $white;
  width: 100%;
  background: $black100;
  border-radius: 14px;
  padding: 2em 0em;
  margin-bottom: 2em;
}
.trading__main__container__content__right__card__main__pool {
  color: $white;
  width: 100%;
  background: $black100;
  border-radius: 14px;
  padding: 1em;
  margin-bottom: 2em;
}
.trading__main__container__content__right__card__heading {
  padding: 0em 1em;
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.trading__main__container__content__right__card__svg__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0em 1em;
  margin-top: 1em;
}
.trading__main__container__content__right__card__svg {
  margin-right: 1em;
  padding: 0.2em;
  border-radius: 6px;
}
.trading__main__container__content__right__card__svg:hover {
  background: $black200;
}
.trading__main__container__content__right__card__svg svg {
  width: 20px;
  height: 20px;
  color: $white;
}
.trading__main__container__content__right__card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $black200;
  padding: 0.6em 1em;
  margin-top: 1em;
}
.trading__main__container__content__right__card__header__entry {
  font-size: 16px;
  color: $white;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.trading__main__container__content__right__card__col:hover {
  background: $black200;
  transition: 300ms ease-in-out;
}
.trading__main__container__content__right__card__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 1em;
  cursor: pointer;
}
.trading__main__container__content__btc__usd__card__header {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.trading__main__container__content__btc__usd__card__nav {
  font-size: 16px;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
}
.trading__main__container__content__btc__usd__card__nav:hover {
  font-weight: 600;
}
.trading__main__container__content__btc__usd__card__content {
  width: 100%;
  height: fit-content;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trading__main__container__content__btc__usd__card__content__heading {
  margin-top: 1em;
  color: $white;
  font-size: 20px;
  font-weight: 600;
}
.trading__main__container__content__btc__usd__card__content__para {
  font-size: 16px;
  color: $white;
  margin-top: 0.3em;
}
.trading__main__container__content__assets__card__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6em;
}
.trading__main__container__content__assets__card__col__entry {
  font-size: 14px;
  color: $white;
}
.trading__main__container__content__assets__card__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.trading__main__container__content__assets__card {
  width: 100%;
  height: fit-content;
  padding: 2em 1em;
  background: $black100;
  border-radius: 14px;
  margin-bottom: 2em;
}
.trading__main__container__content__right__card__pool__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.trading__main__container__content__right__card__pool__img {
  width: 45px;
  margin-right: 0.5em;
}
.trading__main__container__content__right__card__pool__heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: $white;
}
.trading__main__container__content__right__card__pool__sub__heading {
  font-size: 14px;
  color: $WhiteGray;
  margin: 0.2em 0em;
}
.trading__main__container__content__right__card__pool__para {
  font-size: 14px;
  color: $white;
}
.trading__main__container__content__right__card__pool__btn {
  background: none;
  border: 1px solid $white;
  border-radius: 6px;
  font-size: 12px;
  color: $white;
  padding: 0.7em;
  cursor: pointer;
}
.trading__main__container__content__right__card__pool__btn:hover {
  background: $white;
  transition: 300ms ease-in-out;
  color: $black;
}
.trading__main__container__buy__and__sell__card__btn {
  background: none;
  border: 1px solid $white;
  border-radius: 6px;
  font-size: 14px;
  color: $white;
  margin: 1em 0em;
  padding: 1em 2em;
  cursor: pointer;
}
.trading__main__container__buy__and__sell__card__btn:hover {
  background: $white;
  transition: 300ms ease-in-out;
  color: $black;
}
.trading__main__container__buy__and__sell__card {
  color: $white;
  width: 100%;
  height: fit-content;
  padding: 1em;
  background: $black100;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trading__main__container__buy__and__sell__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.trading__main__container__buy__and__sell__card__header__entry {
  width: 50%;
  position: relative;
}
.trading__main__container__buy__and__sell__card__header__entry__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.trading__main__container__buy__and__sell__card__header__entry__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  background: transparent;
  border: none;
  color: #437259;
  outline: none;
  cursor: pointer;
}
.trading__main__container__buy__and__sell__card__header__entry__heading:hover {
  background: $black200;
  transition: 300ms ease-in-out;
}
.trading__main__container__buy__and__sell__card__header__entry__input__selected {
  background: $black200;
}
.trading__main__container__buy__and__sell__card__heading__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}
.trading__main__container__buy__and__sell__card__heading__wrapper__entry {
  font-size: 14px;
  color: $white;
}
.trading__main__container__buy__and__sell__card__input__wrapper {
  width: 100%;
  background: $black200;
  border-radius: 6px;
  margin-top: 1em;
}
.trading__main__container__buy__and__sell__card__input {
  padding: 0.8em;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: $white;
}
.trading__main__container__buy__and__sell__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0em;
  width: 100%;
}
.trading__main__container__buy__and__sell__card__footer__entry {
  font-size: 14px;
  color: $white;
}
.trading__main__container__content__btc__usd__card__content__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.trading__main__container__content__right__card__main__pool__heading {
  font-size: 20px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
}
.trading__main__container__content__btc__usd__card__headings__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1em;
}
.trading__main__container__content__btc__usd__card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1em;
}
.trading__main__container__content__btc__usd__card__row__entry {
  font-size: 14px;
  color: $white;
  display: flex;
  flex-direction: column;
  width: 16%;
}
.trading__main__container__content__btc__usd__card__headings__row__entry {
  font-size: 14px;
  color: $white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 16%;
}
.trading__main__container__content__search__coin__card {
  width: 100%;
  padding: 1em;
  border-radius: 14px;
  background: $black100;
}
.trading__main__container__content__search__coin__card__para {
  width: 100%;
  display: flex;
  align-items: center;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.8em;
}
.trading__main__container__content__search__coin__card__para span svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
.trading__main__container__content__connect__wallet__card {
  width: 100%;
  padding: 2em;
  height: fit-content;
  background: $black100;
  border-radius: 14px;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trading__main__container__content__connect__wallet__card__img {
  width: 60px;
  margin-right: 2em;
}
.trading__main__container__content__connect__wallet__card__content__heading {
  font-size: 18px;
  text-transform: capitalize;
  color: $white;
  font-weight: 600;
}
@media (max-width: 1100px) {
  .trading__main__container__content__btc__usd__card {
    width: 100%;
    margin-bottom: 2em;
  }
  .trading__main__container__content__right {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .trading__main__container__content__btc__usd__card__entry__wrapper {
    width: 40%;
    margin-bottom: 2em;
  }
  .trading__main__container__content__right__card__col__entry,
  .trading__main__container__content__right__card__header__entry {
    font-size: 12px;
  }
  .trading__main__container__content__btc__usd__card__header {
    width: 100%;
  }
  .trading__main__container__content__btc__usd__card__nav {
    width: 100%;
    margin-top: 1em;
  }
}
